<% include /partials/header %>

<div class="ui grid">
    <div class="two wide column"></div>
    <div class="twelve wide column">
        <div class="ui horizontal divider">New Meeting</div>
        <form class="ui form" action="/createmeeting" method="POST">
            <div class="field">
                <label for="titleField">Title</label>
                <input id="titleField" type="text" name="meeting[title]" placeholder="Title">
            </div>
            <div class="field">
                <label for="textField">Body</label>
                <textarea id="textField" type="text" name="meeting[text]" placeholder="Text"></textarea>
            </div>
            <div class="field">
                <input type="submit" class="ui basic button violet" value="Submit">
            </div>
        </form>
    </div>
    <div class="two wide column"></div>
</div>

<% include /partials/footer %>