<% include ./partials/header %>

<div class="ui grid">
    <div class="two wide column"></div>
    <div class="twelve wide column">
        <div class="ui center aligned header">To Educate and Bring Awareness to Energy Issues</div>
        <div class="ui clearing divider"></div>
        <div class="ui header">Mission</div>
        <p>
        Our goal is to provide members with an environment to discuss
        and learn about all aspects of building a cleaner and safer energy
        system, including, but not limited to: technology, policy, economics, 
        sociology, public health, and ecology.  To facilitate exchange of knowledge, 
        members should expect an open discussion of ideas (to learn from each other), 
        opportunities for outreach (to teach the public), and high-quality dialogue 
        with key players in the local energy ecosystem (to learn from others).  
        Through club activities and events, we aim to prepare members as future leaders in energy.
        </p>
        <div class="ui header">Goals</div>
        <ul>
            <li>To bring together members of different disciplines with interests in energy.</li>
            <li>To bring together academia and industry with members.</li>
            <li>To promote awareness in the community and student body about the impact of energy use and to educate about different conservation/alternative energy techniques.</li>
            <li>To work with the university to promote more efficient energy use within the university.</li>
            <li>To provide a concise information source that is both accessible and easy to use.</li>
            <li>To research different techniques to promote our own knowledge and understanding.</li>
            <li>To work with individuals from the community to promote and put into action alternative energy processes.</li>
        </ul>
    </div>
    <div class="two wide column"></div>
</div>

<% include ./partials/footer %>