<% include ./partials/header %>

<div class="ui two column centered grid">
    <div class="column">
        <p>Meetings will be held in Amundson 240 on Thursdays from 5-6pm.</p>
        <p>Our meetings are a time to listen to speakers, take tours, engage in social activities, or work on our projects.</p>
    </div>
</div>

<div class="ui three column grid">
    <div class="two wide column"></div>
    <div class="twelve wide column">
        <div>
            <div id="989472422617534891" align="center" style="width: 100%; overflow-y: hidden;" class="wcustomhtml">
                <iframe src="https://www.google.com/calendar/embed?mode=AGENDA&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=aec%40umn.edu&amp;color=%2329527A&amp;ctz=America%2FChicago" style=" border-width:0 " width="800" height="600" frameborder="0" scrolling="no"></iframe>
            </div>
        </div>
    </div>
    <div class="two wide column"></div>
</div>


<% include ./partials/footer %>