<% include ./partials/header %>

<div class="ui grid">
    <div class="two wide column"></div>
    <div class="twelve wide column">
        <div class="ui horizontal divider">Settings</div>
        <form class="ui form" action="/settings" method="POST">
            <div class="field">
                <label for="titleField">Role</label>
                <input id="titleField" type="text" name="role" value="<%=user.role%>" placeholder="Role">
            </div>
            <div class="field">
                <label for="textField">Bio</label>
                <textarea id="textField" type="text" name="bio" placeholder="Bio"><%=user.bio%></textarea>
            </div>
            <div class="field">
                <input type="submit" class="ui basic button teal" value="Save">
            </div>
        </form>
    </div>
    <div class="two wide column"></div>
</div>

<% include ./partials/footer %>