body {
    padding: 2%;
}

.menuContainer {
    padding-top: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    font-size: 18px;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

a i {
    color: black;
}

a[href*="view"] i:hover {
    color: turquoise;
}

a[href*="delete"] i:hover {
    color: darkred;
}

a[href*="edit"] i:hover {
    color: teal;
}

a[href*="attend"] i:hover {
    color: darkgreen;
}

a[href*="toggle"] i:hover {
    color: navy;
}