<% include /partials/header %>

<div class="ui grid">
    <div class="two wide column"></div>
    <div class="twelve wide column">
        <div class="ui horizontal divider">Edit Project</div>
        <form class="ui form" action="/editproject/<%=project._id%>?_method=PUT" method="POST">
            <div class="field">
                <label for="titleField">Title</label>
                <input id="titleField" type="text" name="project[title]" value="<%=project.title%>" placeholder="Title">
            </div>
            <div class="field">
                <label for="textField">Body</label>
                <textarea id="textField" type="text" name="project[text]" placeholder="Text"><%=project.text%></textarea>
            </div>
            <div class="field">
                <input type="submit" class="ui basic button teal" value="Submit">
            </div>
        </form>
    </div>
    <div class="two wide column"></div>
</div>

<% include /partials/footer %>