<% include /partials/header %>

<div class="ui grid">
    <div class="two wide column"></div>
    <div class="twelve wide column">
        <div class="ui horizontal divider">New Post</div>
        <form class="ui form" id="fileForm" enctype="multipart/form-data" action="/cloudinary/upload" method="POST">
            <div class="fields">
                <div class="field">
                    <input id="fileField" type="file" name="file" style="display:none;" placeholder="Add Picture" onchange="upload()"/>
                    <label for="fileField" class="ui basic button blue">Add Picture</label>
                </div>
            </div>
        </form>
        <form class="ui form" action="/createpost" method="POST">
            <input type="hidden" id="photoField" name="post[image]">
            <div class="field">
                <label for="titleField">Title</label>
                <input id="titleField" type="text" name="post[title]" placeholder="Title">
            </div>
            <div class="field">
                <label for="textField">Body</label>
                <textarea id="textField" type="text" name="post[text]" placeholder="Text"></textarea>
            </div>
            <div class="field">
                <input type="submit" class="ui basic button violet" value="Submit Post">
            </div>
        </form>
    </div>
    <div class="two wide column"></div>
</div>

<script>
    $("[type=file]").on("change", function(){
      // Name of file and placeholder
      var file = this.files[0].name;
      var dflt = $(this).attr("placeholder");
      if($(this).val()!=""){
        $(this).next().text(file);
      } else {
        $(this).next().text(dflt);
      }
    });
    
    function upload() {
        var formData = new FormData($("#fileForm")[0]);
        $.ajax({
            url: '/cloudinary/upload',  //Server script to process data
            type: 'POST',
            crossDomain:true, 
            dataType: "json",
            //Ajax events
            success: completeHandler = function(data) {
                console.log(data);
                //example of a data object that is returned:
                /*{ 
                  public_id: 'sample',
                  version: 1312461204,
                  width: 864,
                  height: 576,
                  format: 'jpg',
                  bytes: 120253,
                  url: 'http://res.cloudinary.com/demo/image/upload/v1371281596/sample.jpg',
                  secure_url: 'https://res.cloudinary.com/demo/image/upload/v1371281596/sample.jpg' 
                }*/
                document.getElementById("photoField").value = data.url;
            },
            error: errorHandler = function() {
                alert("Something went wrong!");
            },
            // Form data
            data: formData,
            //Options to tell jQuery not to process data or worry about content-type.
            cache: false,
            contentType: false,
            processData: false
        });
    }
</script>

<% include /partials/footer %>